/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* * Navigation Bar */
#navbar{
    display: flex;
    align-items: center ;
    position: relative;
}

/* * Navigation Bar: Logo */
#logo{
    margin: 8px 6px;
    height: 100px;
}

#logo img{
    margin: 10px 5px;
    height: 80px;
    width: 80px;
}


/* * Navigation Bar: List */
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -2;
    opacity: 0.8;
}

#navbar ul li{
    color: white;
    font-size: 1.3rem;
    list-style: none;
}

#navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 3px 30px;
    transition: all 0.3s ease-in-out 0s;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 14px;
    text-decoration: underline;
}

/* ? Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 630px;
}

#home::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../bg1.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.9;
}




/* ? Services section */
#services-page{
    background-image: linear-gradient(to bottom right, red, violet, pink, tomato);
}

#services{
    margin: 34px;
    display: flex;
    justify-content: space-evenly;
}

#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
    height: 160px;
    margin: auto;
    display: block;
}
