/* ? utility classes */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.p-primary{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.p-secondary{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.3rem;
}

.btn{
    border-radius: 10px;
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 16px;
    width: 150px;
    cursor:pointer; 
    font-size: 1.3rem;

    transition: all 0.3s ease-in-out 0s;
}

.btn:hover{
    background-color: tomato;
    font-weight: bolder;
    border-radius: 15px;
    border-style: groove;
}

.h-secondary{
    font-size: 3rem;
    padding: 20px 10px;
    margin: 20px 10px;
    color: black;
    text-align: center;
}

.center{
    text-align: center;
}

.underline{
    text-decoration: underline;
}